In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.iplt20.com/auction/2022"
r = requests.get(url)
print(r)

<Response [200]>

In [3]:
soup = BeautifulSoup(r.text, "lxml")

In [4]:
table = soup.find("table", class_ = "ih-td-tab auction-tbl")
title = table.find_all("th")

In [6]:
headers = []
for i in title:
    headers.append(i.text)

TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS

In [10]:
rows = table.find_all("tr")
print(rows)

[<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
<th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>
<th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>
<th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644311961_CSKroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Chennai Super Kings</h2>
</div>
</td>
<td>₹2,95,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312373_DCroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Delhi Capitals</h2>
</div>
</td>
<td>₹10,00,000</td>
<td>7</td>
<td>24</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1645712208_GTroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Gujarat Titans</h2>
</div>
</td>
<td>₹15,00,000</td>
<td>8</td>
<td>23</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312095_KKRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
</div>
</td>
<td>₹45,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644487352_lsgrounding.png"/>
</div>
<h2 class="ih-pt-cont">Lucknow Super Giants</h2>
</div>
</td>
<td>₹0</td>
<td>7</td>
<td>21</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312227_MIroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Mumbai Indians</h2>
</div>
</td>
<td>₹10,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312239_PBKSroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Punjab Kings</h2>
</div>
</td>
<td>₹3,45,00,000</td>
<td>7</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312268_RRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Rajasthan Royals</h2>
</div>
</td>
<td>₹95,00,000</td>
<td>8</td>
<td>24</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312253_RCBroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Royal Challengers Bangalore</h2>
</div>
</td>
<td>₹1,55,00,000</td>
<td>8</td>
<td>22</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1644312281_SRHroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>₹10,00,000</td>
<td>8</td>
<td>23</td>
</tr>]

In [42]:
table_data = []

for i in rows[1:]:
    data = i.find_all("td")
    temp = []
    for j in data:
        temp.append(j.text)
    table_data.append(temp)
        
table_data

[['\n\n\n\n\nChennai Super Kings\n\n', '₹2,95,00,000', '8', '25'],
 ['\n\n\n\n\nDelhi Capitals\n\n', '₹10,00,000', '7', '24'],
 ['\n\n\n\n\nGujarat Titans\n\n', '₹15,00,000', '8', '23'],
 ['\n\n\n\n\nKolkata Knight Riders\n\n', '₹45,00,000', '8', '25'],
 ['\n\n\n\n\nLucknow Super Giants\n\n', '₹0', '7', '21'],
 ['\n\n\n\n\nMumbai Indians\n\n', '₹10,00,000', '8', '25'],
 ['\n\n\n\n\nPunjab Kings\n\n', '₹3,45,00,000', '7', '25'],
 ['\n\n\n\n\nRajasthan Royals\n\n', '₹95,00,000', '8', '24'],
 ['\n\n\n\n\nRoyal Challengers Bangalore\n\n', '₹1,55,00,000', '8', '22'],
 ['\n\n\n\n\nSunrisers Hyderabad\n\n', '₹10,00,000', '8', '23']]

In [49]:
for i in table_data:
    for j in range(len(i)):
        i[0] = i[0].strip()
        
table_data

[['Chennai Super Kings', '₹2,95,00,000', '8', '25'],
 ['Delhi Capitals', '₹10,00,000', '7', '24'],
 ['Gujarat Titans', '₹15,00,000', '8', '23'],
 ['Kolkata Knight Riders', '₹45,00,000', '8', '25'],
 ['Lucknow Super Giants', '₹0', '7', '21'],
 ['Mumbai Indians', '₹10,00,000', '8', '25'],
 ['Punjab Kings', '₹3,45,00,000', '7', '25'],
 ['Rajasthan Royals', '₹95,00,000', '8', '24'],
 ['Royal Challengers Bangalore', '₹1,55,00,000', '8', '22'],
 ['Sunrisers Hyderabad', '₹10,00,000', '8', '23']]

In [50]:
df = pd.DataFrame(table_data, columns=headers)

In [51]:
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23